.gear-owner {
  .gear-owner-content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    .img-to-text-wrap {
      width: 49%;
      .img-to-text {
        .canvas-wrap {
          position: relative;
          min-height: 300px;
          aspect-ratio: 16/9;
        }
      }
    }
    .select-box-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-between;

      width: 49%;
    }
  }
  .hero-list {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .gear-owner {
    .gear-owner-content {
      .img-to-text {
        .img-wrap {
          width: 100%;
        }
      }
    }
  }
}
